language: java
git:
  depth: 3
sudo: required
env:
  - MAVEN_SETTINGS="${TRAVIS_BUILD_DIR}/gsi-config"
  - MAVEN_OPTS='-Xms1g -Xmx2g'
  - SEQWARE_SETTINGS="${TRAVIS_BUILD_DIR}/seqware_settings"

jdk:
  - oraclejdk7

before_install:
  - git clone https://github.com/oicr-gsi/gsi-config.git ${MAVEN_SETTINGS}
  - cp "${MVN_SETTINGS}/settings.xml" "${HOME}/.m2/settings.xml"

before_script:
  - touch "${SEQWARE_SETTINGS}"

cache:
  directories:
    - $HOME/.m2
